.table>thead>tr>td.hall, .table>tbody>tr>td.hall, .table>tfoot>tr>td.hall {
    padding: 6px;
    line-height: 1.42857143;
    vertical-align: middle;
    width: 80px;
    height: 100px;
    text-align: center;
}

.room
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.lsurround
{
    background-image: url(../images/left_room.png);
}

.rsurround
{
    background-image: url(../images/right_room.png);
}

.lnone
{
    background-image: url(../images/left_none.png);
}

.rnone
{
    background-image: url(../images/right_none.png);
}

.previous
{
    padding: 5px 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
}

.green
{
    background-image: url(../images/green.png);
}

.yellow
{
    background-image: url(../images/yellow.png);
}

.red
{
    background-image: url(../images/red.png);
}

.empty
{
    background-image: url(../images/empty.png);
}