.table>thead>tr>th.hall, .table>tbody>tr>th.hall, .table>tfoot>tr>th.hall
.table>thead>tr>td.hall, .table>tbody>tr>td.hall, .table>tfoot>tr>td.hall {
    padding: 6px;
    line-height: 1.42857143;
    vertical-align: middle;
    width: 80px;
    height: 100px;
    text-align: center;
}

.table>thead>tr>td.lsurround, .table>tbody>tr>td.lsurround, .table>tfoot>tr>td.lsurround
{
    background-image: url(../images/left_room.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.table>thead>tr>td.rsurround, .table>tbody>tr>td.rsurround, .table>tfoot>tr>td.rsurround
{
    background-image: url(../images/right_room.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

}

.table>thead>tr>td.lnone, .table>tbody>tr>td.lnone, .table>tfoot>tr>td.lnone
{
    background-image: url(../images/left_none.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

}

.table>thead>tr>td.rnone, .table>tbody>tr>td.rnone, .table>tfoot>tr>td.rnone
{
    background-image: url(../images/right_none.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

}

span.previous
{
    padding: 5px 10px;
}

span.previous.green
{
    background-image: url(../images/green.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
}

span.previous.yellow
{
    background-image: url(../images/yellow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
}

span.previous.red
{
    background-image: url(../images/red.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
}

span.previous.empty
{
    background-image: url(../images/empty.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
}